# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# SQLite database
*.db
*.sqlite
*.sqlite3

# Environment variables
.env

# ML generated models
ml/models/

# VS Code
.vscode/

# Logs
*.log